.header{
    display: flex;
    align-items: center;
    width: 100vw;
    height: 70px;
    margin-bottom: 30px;
}

.header > a{
    text-decoration: none;
}

.headerButton.MuiButton-root{
    width: 150px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 3px;
}

.headerTitle{
    font-size: 24px;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
}

.footer{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.accordian{
    min-width: 70vw;
}
