:root {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.skillsIcon {
  font-size: 1em;
  transition: all 0.1s ease-in-out;
}

.skillsIcon:hover {
  font-size: 1.5em;
}

.iconBackground {
  border-radius: 4px;
  background-color: rgba(128, 128, 128, 0.5);
}

.iconBackground:hover {
  transform: rotate(10deg);
}

.skills-grid-item {
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  align-items: "center";
  text-align: "center";
}
